language: go
sudo: false
go:
  - 1.9
  - master
install:
  - go get -t ./...
  - go get -u github.com/alecthomas/gometalinter
  - gometalinter --install
script:
  - gometalinter --enable-all --disable=vetshadow --disable=lll --deadline=60s .
  - test -z "$(gofmt -s -l . | tee /dev/stderr)"
  - go test -race -v ./...
